*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


h1{
    color:black;
}
body{
    background-color: bisque;
    height: 70vh;
    width: 100%;
}

.header-left{
    margin-left:10vh;
    margin-top: 15vh;
    position: relative;
    
}

.ibox{
    padding: 10px;
    width: 60vh;
    margin-top: 10vh;
    border: 3px solid black;
    border-radius: 10px;
}

.button{
    background-color:black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 30vh;
    border-radius: 10px;
}

.header-right{
    display: flex;
    position: absolute;
    top:0;
    left:130vh;
   
    
}

.header-right img{
    height: 65vh;
      
}

footer{
    background-color: black;
    height: 40vh;
    margin-top: 15vh;
}

.link{
 list-style-type: none; 
 padding-left: 130px;
 padding-top: 40px; 

}
.links{
    color: white;
    font-size: 15px;
    padding: 8px;
}


.footer-right{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left:160vh;
    top:70vh;
}

.text-right{
    list-style-type: none;
    padding:10px;
}
#lft{
    padding-top: 25px;
}